[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
autopep8 = "*"

[packages]
jinja2 = "===2.11.1"
pyyaml = "===5.3.1"
tabulate = "==0.8.7"

[requires]
python_version = "3.7"
